* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

nav {
  border-radius: 0 !important;
  background-color: #87ceeb !important;
}

.navbar-brand {
  color: #fff !important;
}

.navbar-brand:hover {
  color: #fff !important;
}

li a {
  color: #fff !important;
}
.active a {
  color: #000 !important;
  background-color: #fff !important;
}
